:root {
	--dc-primary-color: #0C2F6C;
	--dc-secondary-color: #233553;
	--dc-third-color: #0C2F6C;
	--dc-text-body-color: #000;
	--dc-font-family-primary: 'Oswald', sans-serif;
	--dc-font-size-text: 14px;
	--dc-font-size-title-large: 40px;
	--dc-font-size-title-md: 32px;
	--dc-font-size-title-sm: 24px;
	--dc-font-weight-title: bold;
	--dc-font-weight-button: 500;
	--dc-font-weight-body: 400;
}

body {
	margin: 0;
	font-family: var( --dc-font-family-primary );
	color: var( --dc-text-body-color );
	line-height: 1.6;
	font-weight: var( --dc-font-weight-body ); 
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	background-repeat: no-repeat;
	position: relative;
	min-height: 100vh;
}
a {
	text-decoration: none;
	color: #ffc107;
}
img {
	width: 100%;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
label {
	display: inline-block;
	font-weight: 300;
}
/*------------------------- Preloader Css ---------------------------*/

.preloader-inner {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	background: #081d3e;
	justify-content: center;
}
.preloader-inner .cancel-preloader {
	position: absolute;
	bottom: 30px;
	right: 30px;
}
.preloader-inner .cancel-preloader a {
	background-color: #fff;
	font-weight: 600;
	text-transform: capitalize;
	color: #f56a79;
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 30px;
	display: block;
	transition: all 0.3s ease-in;
}
.preloader-inner .cancel-preloader a:hover {
	background-color: #00aeff;
	color: #fff;
}

.cube-folding {
	width: 50px;
	height: 50px;
	display: inline-block;
	transform: rotate(45deg);
	font-size: 0;
}

.cube-folding span {
	position: relative;
	width: 25px;
	height: 25px;
	transform: scale(1.1);
	display: inline-block;
}

.cube-folding span::before {
	content: "";
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 25px;
	height: 25px;
	transform-origin: 100% 100%;
	animation: folding 2.5s infinite linear both;
}

.cube-folding .leaf2 {
	transform: rotateZ(90deg) scale(1.1);
}

.cube-folding .leaf2::before {
	animation-delay: 0.3s;
	background-color: #f2f2f2;
}

.cube-folding .leaf3 {
	transform: rotateZ(270deg) scale(1.1);
}

.cube-folding .leaf3::before {
	animation-delay: 0.9s;
	background-color: #f2f2f2;
}

.cube-folding .leaf4 {
	transform: rotateZ(180deg) scale(1.1);
}

.cube-folding .leaf4::before {
	animation-delay: 0.6s;
	background-color: #e6e6e6;
}
@keyframes folding {
	0%, 10% {
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}
.cube-wrapper {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
	text-align: center;
}

.cube-wrapper:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -20px;
	margin: auto;
	width: 90px;
	height: 6px;
	background-color: rgba(0, 0, 0, 0.1);
	filter: blur(2px);
	border-radius: 100%;
	z-index: 1;
	animation: shadow 0.5s ease infinite alternate;
}

.cube-wrapper .loading {
	font-size: 16px;
	letter-spacing: 0.1em;
	display: block;
	color: white;
	position: relative;
	top: 25px;
	z-index: 2;
	animation: text 0.5s ease infinite alternate;
	text-transform: uppercase;
}
@keyframes text {
	100% {
		top: 35px;
	}
}
@keyframes shadow {
	100% {
		bottom: -18px;
		width: 100px;
	}
}

/*HOME PAGE*/


.navigation {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 99;
	transition: .5s;
}
.navbar {
	padding: 1rem 0;
}

.logo-text {
	font-size: var(--dc-font-size-title-sm);
	font-weight: 600;
}
.flex-end {
	justify-content: flex-end;
}  
.navbar-dark .navbar-nav .nav-link {
	color: #fff;
} 
.navbar-expand-lg .navbar-nav {
	align-items: center;
}

.navbar-expand-lg .navbar-nav li {
	margin-left: 1rem;
} 

.navbar-top {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-brand img {
	max-width: 215px;
}

.navbar-top .header_top_phone {
	color: #fff;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 5px 15px;
	font-size: 20px;
	font-weight: 500;
	border-radius: 4px;
	transition: .5s;
}
.navbar-top .header_top_phone i {
	margin-right: 1rem;
}

.navbar-top .header_top_phone:hover {
	background: #ffffff;
	color: #0C2F6C;
}
.main-menu {
	position: relative;
}

.main-menu .menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	margin: 0;
}

.main-menu .menu li {
	display: flex;
	position: relative;
	padding: 15px 20px;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	/* border-right: 1px solid rgb(255 255 255 / 65%); */
}
.main-menu .menu li:last-child {
	border: 0;
}
.main-menu .menu li a {
	color: rgb(255 255 255 / 65%);
	display: block;
	line-height: 1.6;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 5px 7px 10px;
	transition: .5s;
	position: relative;
}
.main-menu .menu li a:before {content: "";position: absolute;bottom: 0;left: 50%;right: 50%;height: 2px;background: #fff;transition: .5s;}

.main-menu .menu li a:hover:before {
	left: 0;
	right: 0;
}
.main-menu .menu li a:hover {
	color: #fff;
}
.menu-icon
{
	position: relative;
	width: 35px;
	height: 21px;
	cursor: pointer;
	display: none;
	transition: .5s;
}
.menu-icon span
{
	display: block;

	width: 35px;
	height: 2px;
	margin-bottom: 7px;

	-webkit-transition: all .24s cubic-bezier(.19, 1, .22, 1);
	transition: all .24s cubic-bezier(.19, 1, .22, 1); 

	border-radius: 0 999px;
	background: #fff;
}
.menu-icon span:nth-child(2)
{
	width: 20px;
}
.menu-icon span:nth-child(4)
{
	position: absolute;
	top: 50%;
	right: 0;

	width: 15px;

	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	background: transparent;
}
.menu-icon:hover span:nth-child(2)
{
	width: 15px; 
	margin-left: 10px;
}
.menu-icon.open-menu span:nth-child(1)
{
	-webkit-transform: rotate(45deg) translateX(9px);
	-ms-transform: rotate(45deg) translateX(9px);
	transform: rotate(45deg) translateX(9px);
	background: #ffffff;
}
.menu-icon.open-menu span:nth-child(2)
{
	margin-left: -20px;

	opacity: 0;
}
.menu-icon.open-menu span:nth-child(3)
{
	-webkit-transform: rotate(-45deg) translate(13px, -4px);
	-ms-transform: rotate(-45deg) translate(13px, -4px);
	transform: rotate(-45deg) translate(13px, -4px);
	background: #ffffff;
}
.menu-icon.open-menu span:nth-child(4)
{
	margin-right: -20px;

	opacity: 0; 
	background: #fff;
}

.sub-menu-nav {
	position: absolute;
	top: 100%;
	background: #0c2f6c;
	border: 0px solid #0c2f6c;
	min-width: 15rem;
	padding: 5px;
	opacity: 0;
	visibility: hidden;
	transition: .5s;
	transform: translateY(30px);
	z-index: 11;
	border-radius: 10px;
}

.main-menu .menu li .sub-menu-nav li {
	background: #0c2f6c;
	padding: 0;
	border-bottom: 1px solid #1b3e7c;
}
.main-menu .menu li .sub-menu-nav li:last-child {
	border-bottom: 0;
}
.main-menu .menu li .sub-menu-nav li a {
	white-space: nowrap;
	padding: 10px 15px;
	text-decoration: none;
	font-weight: 400;
	width: 100%;
	color: #ffffff;
}

.main-menu .menu li:hover .sub-menu-nav {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.sub-menu-nav .children {
	position: absolute;
	left: calc(100% + 10px);
	position: absolute;
	background: #0c2f6c;
	border: 0;
	min-width: 15rem;
	padding: 5px;
	opacity: 0;
	visibility: hidden;
	transition: .5s;
	transform: translateY(30px);
	z-index: 999;
	border-radius: 10px;
}

.sub-menu-nav .cat-item:hover .children {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.title-menu-mobile {
	display: none;
}
.navbar-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	/* transition: .5s; */
	background: transparent;
}

.navbar-menu .navbar-brand {
	display: none;
}

.navbar-dark .navbar-brand {
	transition: .5s;
}

.navbar.fixed-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #084298;
	z-index: 9999;
	padding: 0;
	transition: .5s;
}

.fixed-menu.navbar-menu .navbar-brand {
	display: inline-block;
}

.fixed-menu .main-menu .menu li {
	padding: 0 20px;
}
.banner-area {
	position: relative;
	background-image: url(../images/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.hero-inner {
	position: relative;
	align-items: center;
	justify-content: center;
	padding: 200px 15px 90px;
	min-height: 100vh;
}
.home-page .hero-inner {
	height: calc(100vh - 160px);
	min-height: inherit;
	padding: 50px 15px;
}
.shop .hero-inner {
	min-height: auto;
}
.left-content {
	width: 100%;
	text-align: center;
	display: block;
	color: #fff;
}
.title-large {
	font-size: 40px;
	color: #fff;
	position: relative;
	margin-bottom: 40px;
	transition: .5s;
	font-weight: 600;
	line-height: 1.6;
}

.title-sm {
	display: block;
	margin: 0 auto;
	max-width: 600px;
	font-size: 13px;
	font-weight: 300;
}
.strength-section {
	position: relative;
	padding: 70px 15px;
}

.card-panel {
	position: relative;
	min-height: 220px;
}

.hover-card {
	margin: 0 auto;
	position: relative;
	-webkit-perspective: 600px;
}

.front-card {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 900;
	text-align: center;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	width: 100%;
}

.back-card {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 1000;
	-webkit-transform: rotateY(
		-180deg);
	-moz-transform: rotateY(-180deg);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	width: 100%;
}

.box {
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 20px 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 30px rgb(0 0 0 / 5%);
	transition: .5s;
}

.icon-panel {
	display: block;
	margin-bottom: 15px;
	font-size: 40px;
	color: #ababab;
	text-align: center;
}

.box h4 {
	font-size: var(--dc-font-size-title-sm);
	color: var(--dc-third-color);
	margin-bottom: 15px;
}

.box p {
	font-size: 13px;
	font-weight: 300;
	color: #8f8f8f;
}
.back-card .box {
	background: #0C2F6C;
	text-align: center;
}

.card-panel:hover .front-card {
	z-index: 900;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.card-panel:hover .back-card {
	z-index: 1000;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
}
.back-card .box .icon-panel {
	color: #fff;
}

.back-card .box h4 {
	color: #fff;
}

.back-card .box p {
	color: #fff;
}
.mt--170 {
	margin-top: -170px;
}

.section-title {
	font-size: 32px;
	color: var(--dc-third-color);
	position: relative;
	text-transform: uppercase;
}
.section-why-about {
	position: relative;
	padding: 90px 15px;
}

.mb-50 {
	margin-bottom: 50px;
}

.align-center {
	justify-content: center;
}

.single-corporate-wrap {
	position: relative;
	padding-top: 40px;
}

.corporate-content {
	color: #8f8f8f;
	text-align: center;
}

.single-corporate-wrap:before {content: "";position: absolute;width: 100%;height: 1px;background: #ccc;top: 0;}

.corporate-about-section {
	position: relative;
}

.corporate-about-section .col-lg-3:first-child .single-corporate-wrap:before {
	left: 50%;
}

.corporate-about-section .col-lg-3:last-child .single-corporate-wrap:before {
	right: 50%;
}

.corporate-content:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	top: -10px;
	background: #fff;
	border-radius: 100%;
}

.corporate-content:after {content: "";position: absolute;width: 10px;height: 10px;background: #ccc;border-radius: 10px;top: -5px;left: calc(50% + 5px);}
.section {
	padding: 90px 15px;
	position: relative;
}

.section-products-home {
	background: #081D3E;
}
.overylay-img-background {
	position: absolute;
	max-width: 700px;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	background: url(../images/bg-image.png);
	background-size: 120%;
	opacity: 0.1;
	background-repeat: no-repeat;
}

.products-home {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-wrap: wrap;
}
.product-item {
	padding: 0 30px;
	transition: .5s;
}


.products-home .product-item {
	max-width: 20%;
}
.product-thumb-wrap {
	position: relative;
	background: #fff;
	padding: 20px;
	border-radius: 20px;
	overflow: hidden;
}

.product-image {
	position: relative;
	text-align: center;
}

.product-image a {
	display: block;
	text-align: center;
}

.product-image img {
	height: 200px;
	width: 100%;
	display: inline-block;
	object-fit: contain;
}

.product-hover-items {
	position: absolute;
	top: 100px;
	left: 0;
	transition: .5s;
	opacity: 0;
	visibility: hidden;
}

.product-hover-items a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: #081d3e;
	width: 45px;
	height: 45px;
	border-radius: 45px;
	transition: .5s;
}

.product-thumb-wrap.imghover:hover .product-hover-items {
	opacity: 1;
	visibility: visible;
	left: calc(50% - 25px);
}

.product-title {
	position: relative;
	margin-bottom: 15px;
}

.product-title a {
	color: #081d3e;
	font-size: 15px;
}

.product-price {
	color: #ffc107;
	font-size: 18px;
	margin: 15px 0;
}
.product-home .product-item.slick-slide {
	transform: scale(0.85);
} 
.product-home .product-item.slick-slide.slick-center {transform: scale(1);}

.section-structure {
	background: url(../images/vps-edit-color-01.jpg) top no-repeat;
	position: relative;
	background-size: cover;
}


.inner-box.one {
	margin-bottom: 30px;
}

.inner-box.two {
	margin-top: 30px;
}

.inner-box.four {
	margin-top: 30px;
}

.c-icon {font-size: 30px;transition: .5s;color: #084298;margin-bottom: 15px;}

.inner-box {
	text-align: center;
}

.structure-wrap {
	position: relative;
	align-items: center;
}
.structure-title {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	color: #212529;
}

.structure-info {
	position: relative;
	display: block;
}

.structure-info p {
	font-size: 15px;
}

.structure-info p span {
	display: inline-block;
	font-size: 20px;
	margin: 0 5px;
	font-weight: 500;
	color: #084298;
}
.justify-between {
	justify-content: space-between;
}

.section-structure:before {content: "";top: 0;left: 0;right: 0;bottom: 0;background: rgb(255 255 255 / 84%);position: absolute;}
.inner-box .box:hover {
	transform: translateY(-10px);
	background: #0c2f6c;
}

.inner-box .box:hover .c-icon, 
.inner-box .box:hover .structure-title, 
.inner-box .box:hover .structure-info p, 
.inner-box .box:hover .structure-info p span {
	color: #fff;
}
.image-structure {
	position: relative;
}

.structure-wrap-v2 {
	position: relative;
}

.structure-wrap-v2 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.structure-wrap-v2 ul li {
	position: relative;
	padding-left: 50px;
}

.structure-v2-content {
	position: relative;
}

.structure-v2-content:before, .structure-v2-content:after {content: "";position: absolute;top: 0;left: -50px;}

.structure-v2-content:before {
	width: 22px;
	height: 22px;
	border: 1px solid #084298;
	border-radius: 22px;
	background: none;
}

.structure-v2-content:after {
	width: 14px;
	height: 14px;
	background: #084298;
	border-radius: 14px;
	top: 4px;
	left: -46px;
}

.structure-v2-title {
	text-transform: uppercase;
	font-size: 22px;
	line-height: 22px;
	color: #9e9e9e;
}

.structure-v2-info {
	padding: 20px 0;
	position: relative;
}

.structure-v2-info p {
	margin: 0;
	font-size: 16px;
	color: #9d9d9d;
}

.structure-v2-info p span {
	font-size: 30px;
	font-weight: 500;
	color: #084298;
}

.structure-v2-info:before {content: "";position: absolute;left: -40px;width: 2px;background: #ccc;top: 7px;bottom: 7px;}


.section-project {
	background: #081D3E;
}
.project-home {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.project-item {
	width: 33.333%;
	padding: 0 15px;
}

.project-card {
	position: relative;
	margin-bottom: 30px;
}

.project-img {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

.project-img a {
	display: block;
}

.project-caption {
	position: relative;
	margin: -50px 20px 0 20px;
	padding: 25px 30px 35px 30px;
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 40px rgb(0 0 0 / 5%);
}

.project-img img {
	height: 250px;
	width: 100%;
	object-fit: cover;
	transition: .5s;
}
.project-card:hover img {
	transform: scale(1.2);
}
.project-title {
	display: block;
	margin-bottom: 15px;
}

.project-title a {
	color: #081d3e;
	font-weight: 500;
}

.project-desc p {
	font-size: 13px;
	font-weight: 300;
	color: #8f8f8f;
}

.read-more {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background: #084298;
	color: #fff !important;
	border-radius: 40px;
	position: absolute;
	bottom: -20px;
	left: calc(50% - 20px);
	transition: .5s;
}
.read-more i {
	transition: .5s;
}
.read-more:hover i {
	transform: translateX(5px);
}
.partner-group {
	position: relative;
	padding: 0 15px;
}

.partner-group p {
	font-size: 13px;
	color: #8f8f8f;
	margin-top: 30px;
	font-weight: 300;
}
.partner-group .section-title {
	margin-bottom: 50px;
}

.partner-group p {
	margin-bottom: 40px;
}
.partner-card {
	position: relative;
	border: 1px solid #ccc;
	padding: 30px;
	margin-bottom: 70px;
	min-height: 220px;
	transition: .5s;
}
.partner-card:hover {
	transform: translateY(-10px);
}
.partner-logo {
	margin-top: -70px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 25px rgb(0 0 0 / 5%);
	padding: 15px;
	margin-bottom: 15px;
	width: 150px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.partner-logo img {
	filter: grayscale(1);
	transition: .5s;
	height: 100%;
	object-fit: contain;
}

.partner-card:hover img {
	filter: grayscale(0);
}

.partner-info {
	position: relative;
}

.partner-title {
	font-size: 24px;
	margin-bottom: 15px;
	color: #081d3e;
}

.partner-info p {
	margin-bottom: 0;
	font-size: 13px;
	font-weight: 300;
	color: #8f8f8f;
}
.ceo-div {
	position: relative;
}

.ceo-div span {
	display: block;
	font-weight: 500;
	color: #ffc107;
}
.footer-top {
	align-items: center;
}
.footer-logo img {
	max-width: 250px;
}

.footer-social {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.footer-social ul {
	padding: 0;
	display: flex;
	list-style-type: none;
	margin-left: 1rem;
	margin-bottom: 0;
}

.footer-social ul a {
	font-size: 20px;
	color: #081d3e;
	margin: 0 10px;
}

.footer-social span {
	line-height: 32px;
	display: inline-flex;
	align-items: center;
}

.footer-mail {
	position: relative;
}

.form-mail {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.form-mail .form-control {
	width: calc(100% - 50px);
	border-radius: 4px 0 0 4px;
}

.btn-submit-email {
	width: 50px;
	background: #081d3e;
	border-radius: 0 4px 4px 0;
	color: #fff !important;
	font-size: 20px;
	line-height: 38px;
	padding: 0;
	outline: none;
	border: 0;
}
.footer-bottom {
	margin-top: 30px;
}

.address-info {
	position: relative;
}

.address-info ul {
	margin: 0;
	padding: 30px;
	list-style-type: none;
	border: 1px solid #ccc;
	border-radius: 20px;
}

.address-info ul li {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 15px;
	font-size: 13px;
	font-weight: 300;
	color: #323232;
}

.address-info ul li i {
	font-size: 20px;
	color: #081d3e;
	margin-right: 15px;
}
#project_image .project-card {
	margin: 0;
}
#project_image .project-item {
	padding: 15px;
}
.section-project.v2 {
	padding: 0;
}
.section-project.v2 .section-title {
	padding-top: 70px;
}

.section-project.v2 .project-desc p {
	color: #fff;
}

.section-project.v2 .project-title a {
	color: #fff;
	font-size: 25px;
}
.section-project.v2 #project_image .slick-list {
	padding: 150px 0 !important;
}


/*----------------- ABOUT -------------------*/

.about-heading {
	position: relative;
	padding: 50px;
	backdrop-filter: blur(10px);
	background: rgb(255 255 255 / 10%);
	border-radius: 30px;
	width: 100%;
}
.content p {
	margin-bottom: 15px;
}
.ab-img img {
	max-height: 400px;
	width: auto;
}
.button-primary {
	background: #fff;
	color: #0c2f6c;
	font-size: 15px;
	line-height: 32px;
	position: relative;
	padding: .375rem 1.75rem;
	transition: .5s;
	border: 1px solid #0c2f6c;
}

.about-heading .button-primary {
	border-color: #fff;
}

.about-heading .button-primary:hover {
	border-color: #0c2f6c;
}
.button-primary span {
	display: inline-block;
	margin-right: 10px;
}

.button-primary:hover {
	background: #0c2f6c;
	color: #f9fafb;
}

.button-primary i {
	transition: .5s;
}

.button-primary:hover i {
	transform: translateX(10px);
	color: #FFF;
}

.timeline-about {
	position: relative;
}

.timeline-item {
	position: relative;
	margin-bottom: 50px;
}


.timeline-about:before {content: "";position: absolute;width: 2px;height: 100%;background: #ccc;left: calc(50% - 4px);}
.t-left {
	display: flex;
	padding-right: 30px;
	position: relative;
	justify-content: flex-end;
	align-items: flex-end;
}

.t-box {
	position: relative;
}

.t-box .title-md {
	text-transform: uppercase;
	font-size: 26px;
	margin-bottom: 1.5rem;
}

.t-box .title-md a {
	display: block;
	color: #0c2f6c;
}

.t-left .title-sm, .t-right .title-sm {
	max-width: 65%;
	margin-right: 0;
	margin-bottom: 1.5rem;
	color: #8f8f8f;
	font-weight: 300;
}

.t-right {
	position: relative;
	padding-left: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.t-image {
	position: relative;
}

.t-image img {
	height: 250px;
	width: 100%;
	object-fit: contain;
}

.t-box p:last-child {
	margin-bottom: 0;
}
.t-left:before {content: "";position: absolute;width: 22px;height: 22px;border: 1px solid #ccc;right: -20px;top: 0;border-radius: 22px;background: #fff;}

.t-left:after {content: "";position: absolute;width: 14px;height: 14px;background: #ccc;border-radius: 14px;top: 4px;right: -16px;}

.t-right:before {content: "";}
.t-left .t-box {
	text-align: right;
}

.t-right .t-box {
	text-align: left;
}

.t-right .title-sm {
	margin-left: 0;
}

.timeline-about .button-primary {
	border: 1px solid #ccc;
}

.timeline-about .button-primary:hover {
	border-color: #0c2f6c;
}


/*--------SHOP --------*/

.breadcrumb-banner {
	display: flex;
	justify-content: center;
	align-items: center;
}
.breadcrumb-banner .breadcrumb {
	margin: 0;
}
.breadcrumb-banner li {
	font-size: 13px; 
}

.breadcrumb-item.active {
	color: white;
}

.main-content-wrap {
	position: relative;
	padding: 70px 15px 150px;
} 
.filter-wrapper {
	padding-right: 1.5rem;
	position: sticky;
	top: 85px;
}
.widget-title {
	color: #081d3e;
	position: relative;
	padding-bottom: 15px;
	border-bottom: 1px dashed #e8e8e8;
	font-size: 24px;
}
.pt-100 {
	padding-top: 100px;
}
.filter-wrap .filter-title {
	color: #707070;
	display: block;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.filter-wrap .list_group_item li a {
	border: 0 none;
	color: #555555;
	display: block; 
	line-height: 18px;
	margin-bottom: 16px;
	text-transform: capitalize;
}

.shop-top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f7f7f7;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 15px;
}
.shop-bar-inner {
	display: flex;
}
.toolbar-amount i {
	color: #0c2f6c;
	margin-right: .5rem;
	font-size: 17px;
}
.shop-item-filter-list {
	margin-right: 10px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.shop-item-filter-list li {
	margin-right: 10px;
}
.shop-item-filter-list li a {
	display: block;
	height: 35px;
	font-size: 16px;
	border: 1px solid #555;
	line-height: 35px;
	width: 35px;
	text-align: center;
	background: #fff;
	color: #555;
}
.shop-item-filter-list li a.active {
	border: 1px solid #192965;
	line-height: 35px;
	background: #192965;
	color: #fff;
}
.widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-weight: 300;
	background: #f1f1f1;
	border-radius: 6px;
	padding: 15px;
}
.widget ul li:first-child {
	padding-top: 10px;
	border-top: 0;
} 
ul.children {
	display: none;
}
.widget ul.sub-menu, .widget ul.children {
	padding-left: 20px;
	margin-top: 15px;
}
.widget ul.children li {
	position: relative;
	padding: 10px 0;
}
.widget ul.children li:before {
	font-size: 10px;
	content: "";
	position: relative;
	margin-top: 7px;
	margin-right: 8px;
	content: "\f105";
	position: relative;
	display: inline-block;
	font-family: "Font Awesome 5 Pro";
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
}
.widget ul li a {
	color: #262626;
	position: relative;
	text-transform: capitalize;
}
.widget ul li a i {
	margin-right: 10px;
}
.show_btn {
	position: absolute;
	right: 0;
	top: 5px;
	font-size: 10px;
	width: 30px;
	height: 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.list-none li.cat-item {
	position: relative;
	font-weight: 300;
	padding: 10px 0;
	border-bottom: 1px dashed #ccc;
}

.widget ul.children li:last-child {
	border-bottom: 0;
}

.list-none li.cat-item:last-child {
	border-bottom: 0;
}
.product-short {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 13px;
	font-weight: 300;
}

.product-select-box {
	width: 50%;
}

.product-short .form-control {
	width: auto;
	margin-left: 1rem;
	font-size: 13px;
	font-weight: 300;
}
.single-product-area {
	position: relative;
	transition: .5s;
	background: #fff;
	padding: 15px 20px 20px;
	border-radius: 10px;
}

.single-product-area:hover {
	box-shadow: 0 0 45px rgb(0 0 0 / 5%);
}

.mb-30 {
	margin-bottom: 30px;
}
.product-thumb {
	position: relative;
}

.product-thumb-link {
	display: block;
}
.price-product {
    color: #ffc107;
}
.product-name a {
	font-size: 18px;
	color: #0c2f6c;
}

.filter-price li {
	margin-bottom: 15px;
}
.section-blog {
	background: #081d3e;
}

.post-gallery {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.center {
	text-align: center;
}
.btn-loadmore {
	border: 1px solid;
}
.detail-gallery .carousel li {
	width: 100px !important;
	height: 115px !important;
	transition: all 0.4s ease-out 0s;
	-webkit-transition: all 0.4s ease-out 0s;
}
.detail-gallery .carousel li a {
	display: block;
	border: 1px solid transparent;
	margin: 0 1px;
}
.detail-gallery .carousel li a.active,
.detail-gallery .carousel li a:hover {
	border-color: #0c2f6c;
}
.detail-gallery .gallery-control.true {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 15px;
	width: 101px;
	margin: 0;
}
.detail-gallery .gallery-control.true .carousel li {
	margin: 0;
	width: 100px !important;
	height: 115px !important;
	margin-bottom: 10px;
}
.detail-gallery .carousel li img {
	display: block;
	max-width: 100%;
	height: 113px !important;
	object-fit: cover;
}
.detail-gallery .gallery-control.true > a {
	position: absolute;
	top: auto;
	bottom: 0;
	color: #000;
	font-size: 18px;
}
.detail-gallery .gallery-control.true > a i.fa-arrow-left:before {
	content: "\f11f";
}
.detail-gallery .gallery-control.true > a i.fa-arrow-right:before {
	content: "\f122";
}
.detail-gallery .gallery-control.true > a.prev {
	left: 25px;
}
.detail-gallery .gallery-control.true > a.next {
	right: 25px;
}
.detail-gallery.has-gallery .image-lightbox {
	padding-left: 130px;
}
.product-popup-content .detail-info .list-brand,
.product-popup-content .product-nav {
	display: none;
}
.product-popup-content .detail-gallery.has-gallery .image-lightbox {
	padding-left: 60px;
}
.product-popup-content .detail-gallery .gallery-control.true .carousel li {
	width: 50px !important;
	height: 57px !important;
}
.product-popup-content .detail-gallery .gallery-control.true {
	width: 50px;
}
.product-popup-content .detail-gallery .gallery-control.true > a.prev {
	left: 0;
}
.product-popup-content .detail-gallery .gallery-control.true > a.next {
	right: 0;
}
.product-details {
	position: relative;
	font-size: 13px;
}

.sku_wrapper {
	margin-bottom: 5px;
	display: block;
}
.product-title {
	font-size: 24px;
	color: #0c2f6c;
}
span.sku {
	color: #000;
	text-transform: capitalize;
	font-weight: 500;
}
.title24 {
	font-size: 24px;
}
.font-bold {
	font-weight: 700;
}
.product-image-detail {
	height: auto;
	width: 100%;
	object-fit: contain;
}
.post-detail {
	position: relative;
	padding-bottom: 100px;
}
.post-detail-content {
	position: relative;
}

.detail-gallery {
	position: relative;
}

.img_url {
	display: block;
} 
.section.product-content {
	background: #f5f5f5;
}
.single-products .nav-tabs {
	border: 0;
	margin-bottom: 0;
}
.nav-tabs .nav-item .nav-link {
	background: transparent;
	border: 0;
	text-transform: uppercase;
	color: #818181;
	font-size: 20px;
}

.nav-tabs .nav-link.active {
	border-bottom: 5px solid #0c2f6c;
	color: #0c2f6c;
}
.products-related {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
}

.products-related .product-item {
	width: 25%;
}
.posts-section .project-item {
	margin-bottom: 30px;
	padding: 0 30px;
}
.map-section {
    position: relative;
}

.maps {
    position: relative;
    width: 100%;
}

.map-section iframe {
    width: 100%;
}
.module-content {
    color: #fff;
    font-size: 13px;
}

.module-content p {
    margin-bottom: 5px;
}
.form-group {
    display: block;
    margin-bottom: 10px;
}

.form-contact-1 {
    position: relative;
}

.form-none-control {
    width: 100%;
    border: 0;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    font-size: 13px;
    outline: none;
    color: #fff;
    font-weight: 300;
}

.form-none-control::placeholder {
    color: rgb(255 255 255 / 60%);
    font-weight: 300;
}
textarea.form-none-control {
	resize: none;
	min-height: 100px;
}